* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  width: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  border-color: #fff;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}
.section__aboutus {
  background-image: url(../img/hero-bg.jpg);
}
.card1 {
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
.card1:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.about__video {
  width: 30rem;
  margin-bottom: 1rem;
}

.img__testimonial {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.client1 {
  padding: 15px 0;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.client1:hover {
  filter: grayscale(0);
  transform: scale(1.1);
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.mt-m1 {
  margin-top: -1rem;
}

.mt-m6 {
  margin-top: -9rem;
}

.icon__dribble,
.file-earmark-text,
.speedometer2,
.stack,
.display,
.magnet {
  position: absolute;
}

.dribbble:hover .icon__dribble {
  fill: #f5f5f5;
}

.dribbble:hover .svg__dribble {
  fill: #2487ce;
}

.file-earmark-text__bg:hover .file-earmark-text {
  fill: #f5f5f5;
}

.file-earmark-text__bg:hover .svg__file-earmark-text {
  fill: #ffa76e;
}

.speedometer2__bg:hover .speedometer2 {
  fill: #f5f5f5;
}

.speedometer2__bg:hover .svg__speedometer2 {
  fill: #e80368;
}

.stack__bg:hover .stack {
  fill: #f5f5f5;
}

.stack__bg:hover .svg__stack {
  fill: #ffbb2c;
}

.display__bg:hover .display {
  fill: #f5f5f5;
}

.display__bg:hover .svg__display {
  fill: #ff5828;
}

.magnet__bg:hover .magnet {
  fill: #f5f5f5;
}

.magnet__bg:hover .svg__magnet {
  fill: #11dbcf;
}

.btn-text:hover {
  color: #2487ce;
}

.porfolio__list {
  list-style: none;
}

#portfolio-filters li {
  cursor: pointer;
}

#portfolio-filters li.filter-active,
#portfolio-filters li:hover {
  color: #2487ce;
}

/* .btn .portfolio__button:focus {
  border: transparent;
  outline: none;
}

.portfolio__button:hover {
  color: #2487ce;
}

.portfolio__button {
  margin-left: 15px;
  background-color: transparent;
  color: #111;
  border: none;
  outline: none;
} */

.portfolio-info {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
  background-color: rgba(36, 135, 206, 0.6);
  opacity: 0;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.portfolio-card {
  position: relative;
}

.portfolio-info::before {
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 30px;
  left: 30px;
  border-left: 3px solid white;
  border-top: 3px solid white;
  z-index: 4;
}

.portfolio-info::after {
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  z-index: 4;
}

.portfolio-card:hover .portfolio-info {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.portfolio__svg:hover {
  fill: white;
}

.team-icon {
  background: rgba(255, 255, 255, 0.85);
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: 0;
  bottom: 5.1rem;
  width: 93%;
  left: 0.8rem;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
}

.parent {
  position: relative;
}

.parent:hover .team-icon {
  opacity: 1;
}

.team__font {
  cursor: pointer;
}

.team__font:hover {
  fill: #2487ce;
}

.pricing {
  color: #444444;
}

.col__free {
  border-radius: 8px;
  background: #fefefe;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
  margin: 0 2rem;
  width: 25%;
}

.col__business {
  border-radius: 8px;
  background: #2487ce;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
  color: #fefefe;
  width: 25%;
}

.na {
  text-decoration: line-through;
}

.section__questions {
  background-color: #f8fbfe;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}

.accordion-header .accordion-button {
  background-color: transparent;
}

.accordion-item {
  width: 70%;
}

.question__paragraph {
  margin-bottom: 0rem !important;
}

.question__paragraph:hover {
  color: #2487ce;
}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  display: flex;
  justify-content: center;
}
.map-container iframe {
  left: 3rem;
  top: 0;

  height: 50%;
  width: 90%;
  position: absolute;
}
